@import '../../../colors';
.nvc-btn {
    margin-right: 5px;
  }

  .table-wrapper {
    .ag-theme-alpine {
      text-align: left;
    }
  }

  .nvc-icon-user-circle {
    font-size: 25px;
  }

  .mat-expansion-panel-header-title {
    color: #fff;
}

table th {
  background-color: #c9e0e7;
}

.mat-expansion-panel-header-title-icon {
  width: 24px;
  height: 24px;
  margin-right: 30px;
}

.table-actions {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: $white-blue;
  padding: 0 30px 0;
  margin-top: 25px;
}

.table-wrapper {
  background-color: $white-blue;
  padding: 0 30px 30px;
  margin-bottom: 10px;

  .ag-theme-alpine {
    background-color: $white-blue;
    text-align: center;
  }
}