.toolbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu-icon {
  flex: 0 0 auto; // Fixed size for the menu icon
}

.title {
  flex: 1; // Take up remaining space in the middle
  text-align: center; // Center the text
}

.spacer {
  flex: 0 0 auto; // Fixed size for the spacer
}

.mat-sidenav {
  height: 100%;
  color: #fff !important;
  background-color: transparent;
}

.active {
  background-color: #1ce9bf4d;
  color: #fff !important;
}

.mat-toolbar {
  background-color: transparent;
}

.mat-sidenav-container {
  background-color: transparent;
}
