<header class="header">
    <nav class="header-nav">
        <div class="header-left-side">
            <span class="niagara-logo"></span>
        </div>
        <div class="header-container">
            <div class="main-menu">
                <span class="header-main-menu-item">
                    <button mat-button [matMenuTriggerFor]="systemManagement" class="header-main-menu-title">SYSTEM MANAGEMENT</button>
                    <mat-menu #systemManagement="matMenu">
                        <button mat-menu-item (click)="navigateTo('user-config')" class="button-menu-item">User Configuration</button>
                        <button mat-menu-item (click)="navigateTo('system-resources')" class="button-menu-item">System Resources</button>
                    </mat-menu>
                </span>
                <span class="header-main-menu-item">
                    <button mat-button class="header-main-menu-title">PACKET MASTER</button>
                </span>
                <span class="header-main-menu-item">
                    <button mat-button class="header-main-menu-title">HELP</button>
                </span>
            </div>
        </div>
        <div class="header-user-profile">
            <div class="header-user-name">Hello, Admin</div>
            <a class="header-logout"><mat-icon>exit_to_app</mat-icon></a>
        </div>
    </nav>
</header>
<router-outlet></router-outlet>