.sidenav-container {
    position: relative;
  }
  
  .top-left-button {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    z-index: 999; /* Ensure it's above other content */
  }
  