@import '../../../colors';
@import '../../../mixins';

// .modal-wrapper {
//   width: 1040px;
// }

// .modal-wrapper {
//   min-width: 700px;
//   max-width: 700px;
// }

$primary-color: $text-color;

.modal {
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: $white !important;
    z-index: 100000;
    margin: 0 auto;
    border-radius: 0.3rem 0.3rem 0.5rem 0.5rem;
    height: auto;
    width:500px;
    justify-content: center;
  }

  &-header {
    background: $white;
    border-bottom: 2px solid $header-border-color;
    margin: 0 !important;
    padding: 16px;
    width: 98%;
    cursor: move;

    .modal-title {
      color: $primary-color;
      font-size: 19px;
      font-weight: 500;
    }

    .close {
      &:focus {
        outline: none;
      }

      .close-icon-blue {
        color: $primary-color;
        font-size: 24px;
      }
    }
  }

  &-body {
    text-align: center;
    background: $white;
    border-radius: 0 0 5px 5px;
  }

  &-footer {
    width: 100%;
  }
}

::ng-deep .mat-mdc-dialog-container {
  // padding: 0 !important;
  // overflow: hidden !important;
  min-width: 500px;
}

.form-field {
    display: block;
  }
  
  .buttons-row {
    margin-top: 20px;
  }
  
  input:disabled {
    opacity: 1;
  }
  
  .row {
    &__column {
      padding: 0 15px;
    }
  }
  
  .form-field {
    width: 100%;
  }


  //Styles Form nvc change password model component
  .field-control {
    width: 100%;
  }
  
  .modal {
    &-body {
      padding: 20px;
    }
  
    &-content {
      width: 500px;
    }
  
    &-footer {
      .nvc-btn {
        min-width: 100px;
      }
    }
  }
  //------------------------

  .form-field {
    width: 100%;
  }

  *,:after,:before {
      box-sizing: border-box
  }

  @media (prefers-reduced-motion:no-preference) {
      :root {
          scroll-behavior: smooth
      }
  }

  body {
      margin: 0;
      font-family: var(--bs-body-font-family);
      font-size: var(--bs-body-font-size);
      font-weight: var(--bs-body-font-weight);
      line-height: var(--bs-body-line-height);
      color: var(--bs-body-color);
      text-align: var(--bs-body-text-align);
      background-color: var(--bs-body-bg);
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: transparent
  }

  html,body {
      background-color: #dbeaef;
      min-width: 1366px;
      padding: 0;
      margin: 0;
      color: #fff;
      position: relative;
      height: 100%
  }

.mat-form-field .mat-select-arrow, .mat-form-field .mat-form-field-label, .mat-form-field .mat-select-value, .mat-form-field .mat-select, .mat-form-field .mat-input-element {
    color: #182d64;
    caret-color: #182d64;
}

// h1, h2, h3, h4, h5, h6, a, td, th, button, span, a, section, header, div, p {
//   font-family: Roboto, sans-serif;
//   font-weight: 400;
// }