<div class="modal-wrapper width-user-modal" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        <div class="modal-header" cdkDragHandle>
          <h4 class="modal-title">
            NEW USER
          </h4>
          <button type="button" class="close" aria-label="Close" (click)="onNoClick()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                <div mat-dialog-content>
                        <form 
                        class="user-form"
                        (keyup.enter)="save()"
                        (ngSubmit)="save()">
                                <div class="row">
                                        <div class="row__column col-6">
                                                <mat-form-field class="form-field">
                                                        <mat-label>Username</mat-label>
                                                        <input matInput [(ngModel)]="newUsername" name="newUsername" required>
                                                </mat-form-field>
                                        </div>
                                        <div class="row__column col-6">
                                                <mat-form-field>
                                                        <mat-label>New Password</mat-label>
                                                        <input matInput type="password" [(ngModel)]="newPassword" name="newPassword" required>
                                                </mat-form-field>
                                        </div>
                                        <div class="row__column col-6">
                                                <mat-form-field>
                                                        <mat-label>Confirm Password</mat-label>
                                                        <input matInput type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required>
                                                </mat-form-field>
                                        </div>
                                </div>
                        </form>
                </div>
        </div>
        <!-- <div class="modal-footer info" cdkDragHandle>
          <button type="button" class="nvc-btn outlined secondary" data-cy="close-modal" (click)="discard()">Cancel</button>
          <button type="button" [disabled]="!userForm.valid" class="nvc-btn outlined secondary" (click)="save(userForm.value)">
            Save
          </button> 
        </div>-->
          <div class="modal-footer info" cdkDragHandle>
                <button type="button" class="nvc-btn outlined secondary" data-cy="close-modal" (click)="onNoClick()">Cancel</button>
                <button type="button " class="nvc-btn outlined secondary" (click)="save()">
                Save
                </button>
        </div>
</div>

