$test-color: rgba(22, 28, 156, 0.9);

$text-color: #182d64;
$text-color-lighter: #15306e;
$text-dark: rgba(0, 0, 0, 0.87);
$text-link-blue: #0d6efd;
$tooltip-shadow-color: rgba(0, 0, 0, 0.4);
$header-border-color: #111198;
$blue-bright: #132b68;
$blue-gray: #1a3360cc;
$blue-brighter: rgba(20, 44, 105, 0.94);
$dark-blue: #133c5c;
$darker-blue: #11214b;
$dirty-blue: #384e80;
$dirty-blue-light: #25717f;
$dirty-blue-lighter: #5a6b96;
$blue-violet: #64a3f3;
$blue-white: #a2d4e2;
$blue-grey: #bbcbdb;
$blue-grey-darker: #5c8f9d;
$blue-grey-dark: #1d4449;

$white: white;
$white-blue: #dbeaef;
$light-beige: #e8e8e8;
$white-transparent: rgba(240, 240, 240, 0.85);
$white-transparent-5: rgba(255, 255, 255, 0.5);
$white-transparent-4: rgba(255, 255, 255, 0.4);
$white-transparent-3: rgba(255, 255, 255, 0.3);
$white-transparenter: rgba(255, 255, 255, 0.1);
$white-transparent-05: rgba(255, 255, 255, 0.05);
$white-blue-light: #f3fcff;
$white-blue-grey: #dae9ee;

$black: black;
$hover-light-gray: rgba(0, 0, 0, 0.04);
$black-tooltip: #272727e0;
$black-blue-light: rgb(201, 215, 227);

$text-disabled: #e9ecef;
$light-grey: #bdbdbd;
$grey-lighter: #ccc;
$grey-lighter-1: #e0e0e0;
$white-grey-light: #c9e0e7;
$grey-disable: #aeb6cb;
$grey-blue: #8793aa;
$grey-transparent: rgba(255, 255, 255, 0.5);
$grey-blue-darker: #788497;
$grey-darker: #777;
$grey-dark: #333;
$table-border: #bfdae2;
$table-actions: #3798b4;
$table-gray-paginator: #0000008a;
$table-border-gray: #babfc7;

$glow-yellow: #feca3e;
$yellow: #ffba00;
$orange: #fd5e00;
$orange-lighter: #ff6a00;
$citric: #d0ef00;

$glow-cyan: #6fe8cf;
$glow-cyan-lighter: #a5f7e2;
$glow-green: #11ea86;
$green-dark: #23a6587d;
$cyan-dark: rgba(28, 233, 191, 0.3);
$green: #4bb144;
$sky-blue: #00aeef;
$blue: #08c;
$blue-green: #34737b;
$blue-green-highlight: #0ba8cab0;
$blue-green-table: #43959f;

$error-red: #e00;
$red-dark: #d01b2a;
$red-warning: #e63241;
$red-darker: #ff00006e;

$purple: #9047f5;
$dark-purple: #6d58cc;
$blue-purple: #3f51b5;
$purple-white: #cfc5f8;
$purple-grey: #8992a3;

$pink-purple: #f0f;
$pink: #f71a68;

$main-canvas: rgba(29, 80, 114, 0.3);
$grey-unlicensed: #434c5e;
